<h1 style="text-align:center; color:darkmagenta; margin-top:300px;font-size:80px; cursor:pointer;" onMouseOver="this.style.color='yellowgreen'"
    onMouseOut="this.style.color='darkorchid'">
    About Page
</h1>
